#       Cert Man - Sample Configuration File
WEBHOOK="https://hooks.slack.com/" # Slack Webhook test
SLACK_CHANNEL="#test123" #Channel Name
SLACK_BOTNAME="Cert Man" # Bot Name
FQDNS="" # File with Wesites Eg: www.example.com. And NOT http://www.example.com
EXPIRY_DAYS="" # Number of Days before Expiry to notify
